<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset ="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="descriptio" content="">
    <meta name="author" content="">

    <title>Rocking Groomers</title>


</head>

<body>

    <nav class="navbar navbar-light navbar-expand-lg navbar-dark bg-warning fixed-top">
        <div class="container"><a class="nav=bar=brand" href="#">Rocking Groomers</a>
        <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="./index.php">Welcome Admin</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">In da house<i class="icon ion-android-contacts"></i></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Paws and hair</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Toys and Food</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Other services</a></li>
                </ul>
        </div>

    </nav>

    <div class="main"cstyle="text-align:center">
        <h1> <strong> Welcome! </strong> </p>
        <h1> What are you looking for?</h1>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
        <form action="#">
            <h2>Wash and blowdry</h2><br>
            <input type="image" src="#" alt="Submit" width="270" height="220">
            </form>
        </div>
        <div class="col-md-4">
        <form action="#">
            <h2>Artists</h2><br>
            <input type="image" src="#" alt="Submit" width="220" height="220">
        </form>
        </div>
        <div class="col-md-4 ">
        <form action="#">
            <h2>Administrators</h2><br>
            <input type="image" src="#"  width="250" height="220">
        </form>
        </div>
        </div>
</body>
</html>