<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset ="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="descriptio" content="">
    <meta name="author" content="">

    <title>Rocking Groomers</title>
    <link rel="stylesheet" href="css/groomers.css">


</head>

<body>

    <nav class="navbar navbar-light navbar-expand-lg navbar-dark bg-warning fixed-top">
        <div class="container"><a class="nav=bar=brand" href="#">Rocking Groomers</a>
        <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/views/index.html">Welcome Admin</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">In da house<i class="icon ion-android-contacts"></i></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Paws and hair</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Toys and Food</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Other services</a></li>
                </ul>
        </div>

    </nav>

    <div class="main"cstyle="text-align:center">
        <h1> <strong> Welcome! </strong> </p>
        <h1> What are you looking for?</h1>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
        <form action="#">
            <h2>Wash and blowdry</h2><br>
            <input type="image" src="#" alt="Submit" width="270" height="220">
            </form>
        </div>
        <div class="col-md-4">
        <form action="#">
            <h2>Paws</h2><br>
            <input type="image" src="#" alt="Submit" width="220" height="220">
        </form>
        </div>
        <div class="col-md-4 ">
        <form action="#">
            <h2>Toys and Food</h2><br>
            <input type="image" src="#"  width="250" height="220">
        </form>
        </div>
        </div>

         <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="./login1.php">LA DIABLADA</a></h3>
                <p class="links"><a href="./register.php">Join Us</a><strong> · </strong><a href="./login.php">Login</a><strong> ·  · </strong></p>
                <p class="company-name">La Diablada Art Gallery © 2019</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">123 River Street</span>Dublin, Ireland</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +1 2552552550</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">drockgroomers@bathing.ie</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About the Rocking Groomers</h4>
                <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
</body>
</html>